<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GoogleURL" value="*******" />
    <add key="BingURL" value="*****" />
    <add key="GoogleAPIKey" value="*****" />
    <add key="GoogleCEKey" value="*****" />
    <add key="BingKey" value="****" />
  </appSettings>
</configuration>
